body {
  font-family: 'Pacifico', cursive;
  background: url(https://images.unsplash.com/photo-1575722290270-626b0208df99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80), #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  background-size: contain;

}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1,
legend {
  font-family: 'Pacifico', cursive;
  background: #b15226;
  color: #68af78;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 500%;
}

form {
  width: 80%;
  margin: 0 auto;
}

fieldset {
  border: none;
  font-size: 30px;
  color: #971f1f;
  margin-bottom: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.425);
  padding: 20px;
  border-radius: 500px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 0 0;
  transition: transform .2s;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
  transform: scale(1.2);
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

label img {
  vertical-align: middle;
  transition: transform .2s;
  width: 20%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

label img:hover {
  transform: scale(1.1);
}

.pizza-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

input[type="submit"] {
  font-family: 'Pacifico', cursive;
  background-color: #b15226;
  color: #68af78;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color .2s;
}

#result {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  background: #b15226;
  color: #68af78;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  color: #1d1612;
}

#result.show {
  opacity: 1;
}

#result:hover {
  background-color: #eee;
}